parameters:
    # Uncomment the following lines if you are using the docker-compose of the project
    # You should also execute vendor/bin/grumphp git:init to apply the modification
    # git_hook_variables:
    #     EXEC_GRUMPHP_COMMAND: docker-compose exec -u umanit -T php
    tasks:
        phplint:
            exclude: ["vendor"]
            triggered_by: ["php"]
        phpunit:
            config_file: tests/phpunit.xml
        git_blacklist:
            keywords:
                - "die("
                - "var_dump("
                - "dump("
                - "dd("
                - "exit;"
        git_commit_message:
            max_body_width: 80
            max_subject_width: 80
    ascii:
        failed: nopecat.txt
